$animation-duration-base: 300ms;
$animation-duration-slow: $animation-duration-base * 2;
$animation-duration-fast: $animation-duration-base / 2;

$animation-transition-cubic-bezier: cubic-bezier(0, 0, 0.2, 1);
$animation-transition-layers: cubic-bezier(0.4, 0, 1, 1);


// Colors
$white: #fff;
$black: #000;
$gray-light: #eee;
$text-shade-dark: rgba(8, 8, 8, 0.75);
$plugin-blue: #0087e2;

$font-size-small: 11px;
$font-size-title: 18px;

$z-index-container: 10; // 10
$z-index-video-layer: 11; //100000
$z-index-gradient-top: 12; //23
$z-index-top-layer: 13; //59
$z-index-caption-window: 17; //37
$z-index-gradient-bottom: 15; // 22
$z-index-bottom-layer: 16; // 60
$z-index-progress-bar: 19; //31
$z-index-progress-bar-padding: 18; //28
$z-index-progress-list: 25; //39
$z-index-play-progress: 23; //34
$z-index-load-progress: 22; //33
$z-index-hover-progress: 24; //35
$z-index-scrubber-container: 30; //43
$z-index-scrubber-pull-indicator: 29; //42
$z-index-tooltip-wrapper: 50; //1002
$z-index-settings-menu: 40; //71



.vplayer {
  &-wrapper {
    color: $gray-light;
    direction: ltr;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: $font-size-small;
    line-height: 1.4;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: $black;
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
    &.fs-mode {
      background-color: $black;
    }

    svg {
      pointer-events: none;
    }

    a {
      color: inherit;
      text-decoration: none;
      -moz-transition: color $animation-duration-fast $animation-transition-cubic-bezier;
      -webkit-transition: color $animation-duration-fast $animation-transition-cubic-bezier;
      transition: color $animation-duration-fast $animation-transition-cubic-bezier;
      outline: 0;
    }
  }

  &-container {
    position: relative;
    z-index: $z-index-container;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    width: 100%; /* You can set this width to whatever suits your needs */
    margin: 0 auto;
  }

  &-stream {
    display: block;
    height: 100%;
    width: 100%;
    outline: 0;
    z-index: $z-index-video-layer;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-wrapper:not(.fs-mode) .vplayer-stream {
    background: $black;
  }

  &-gradient-top,
  &-gradient-bottom {
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    -moz-transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
    -webkit-transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
    transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
    opacity: 0;
  }

  &-gradient-top {
    height: 48px;
    padding-bottom: 50px;
    top: 0;
    z-index: $z-index-gradient-top;
    background-position: top;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
    /* IE6-9 */
  }

  &-gradient-bottom {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 );
    /* IE6-9 */
    height: 48px;
    padding-top: 50px;
    bottom: 0;
    z-index: $z-index-gradient-bottom;
    background-position: bottom;
  }

  &-top-layer,
  &-bottom-layer {
    position: absolute;
    // text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -moz-transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
    -webkit-transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
    transition: opacity $animation-duration-base $animation-transition-cubic-bezier;
  }

  &-top-layer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    left: 10px;
    right: 10px;
    top: 0;
    z-index: $z-index-top-layer;

    .vplayer {
      &-title {
        overflow: hidden;
        flex: 1;
        display: none;

        &-text {
          vertical-align: top;
          padding-top: 15px;
          font-size: $font-size-title;
          flex: 1;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: normal;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-bottom-layer {
    bottom: 0;
    height: 62px;
    width: 100%;
    z-index: $z-index-bottom-layer;
    padding-top: 5px;
    text-align: left;
    direction: ltr;
    opacity: 0;

    .vplayer {
      &-bottom-padder {
        padding: 0 20px;
        position: relative;
      }

      &-progress {
        &-bar-wrapper {
          position: relative;
        }

        &-list {
          z-index: $z-index-progress-list;
          background: rgba(255, 255, 255, 0.2);
          height: 100%;
          -moz-transform: scaleY(0.6);
          -ms-transform: scaleY(0.6);
          -webkit-transform: scaleY(0.6);
          transform: scaleY(0.6);
          -moz-transition: -moz-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          -ms-transition: -ms-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          position: relative;
        }

        &-bar-container {
          cursor: pointer;
          display: block;
          position: absolute;
          width: 100%;
          bottom: 0px;
          height: 5px;

          &:hover {
            .vplayer-progress-list {
              -moz-transform: none;
              -ms-transform: none;
              -webkit-transform: none;
              transform: none;
              -moz-transition: -moz-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
              -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
              -ms-transition: -ms-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
              transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
            }

            .vplayer-scrubber-button {
              -moz-transform: none;
              -ms-transform: none;
              -webkit-transform: none;
              transform: none;
              -moz-transition: -moz-transform .1s cubic-bezier(0.0,0.0,0.2,1);
              -webkit-transition: -webkit-transform .1s cubic-bezier(0.0,0.0,0.2,1);
              -ms-transition: -ms-transform .1s cubic-bezier(0.0,0.0,0.2,1);
              transition: transform .1s cubic-bezier(0.0,0.0,0.2,1)
            }
          }
        }

        &-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: $z-index-progress-bar;
          outline: none;
        }

        &-bar-padding {
          position: absolute;
          width: 100%;
          height: 16px;
          bottom: 0;
          z-index: $z-index-progress-bar-padding;
        }
      }

      &-drag .vplayer-progress-bar-container .vplayer-progress-list,
      &-touch-mode .vplayer-progress-bar-container .vplayer-progress-list {
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        -moz-transition: -moz-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
        -ms-transition: -ms-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
        transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
      }

      &-play-progress,
      &-load-progress,
      &-hover-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }

      &-play-progress {
        z-index: $z-index-play-progress;
      }

      &-load-progress {
        z-index: $z-index-load-progress;
        background: rgba(255, 255, 255, 0.4);
      }

      &-hover-progress {
        z-index: $z-index-hover-progress;
        background: rgba(0, 0, 0, 0.125);
        opacity: 0;
        -moz-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
        -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
        transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);

        &-light {
          background: rgba(255, 255, 255, 0.5);
        }
      }

      &-swatch-bg {
        background-color: $plugin-blue;
      }

      &-scrubber {
        &-container {
          position: absolute;
          top: -5px;
          left: -7.5px;
          z-index: $z-index-scrubber-container;
        }

        &-button {
          height: 15px;
          width: 15px;
          border-radius: 50%;
          -moz-transition: -moz-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          -ms-transition: -ms-transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -webkit-transform: scale(0);
          transform: scale(0);
        }

        &-pull-indicator {
          position: absolute;
          z-index: $z-index-scrubber-pull-indicator;
          bottom: 16.9px;
          left: 6.5px;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          &::before, &::after {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            opacity: 0;
            width: 6.5px;
            height: 6.5px;
            border-style: solid;
            border-width: 2px 0 0 2px;
            border-color: #eaeaea;
          }
          &::before {
            -moz-transition: all 0.2s;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
          &::after {
            -moz-transition: all 0.1s;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
          }
        }
      }

      &-controls {
        height: 36px;
        line-height: 36px;
        text-align: left;
        direction: ltr;

        &-left {
          float: left;
          height: 100%;
        }

        &-right {
          float: right;
          height: 100%;
        }
      }
    }
  }

  &-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    height: 100%;
    opacity: 0.9;
    display: inline-block;
    width: 36px;
    -moz-transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    overflow: hidden;
    outline: 0;

    &:focus {
      outline: 0;
    }

    &:hover {
      opacity: 1;
      -moz-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
      -webkit-transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
      transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1);
    }

    &[aria-pressed] {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        border-radius: 2px;
        width: 0;
        left: 18px;
        bottom: 6px;
        background-color: $plugin-blue;
        -moz-transition: left .1s cubic-bezier(0.4,0.0,1,1),width .1s cubic-bezier(0.4,0.0,1,1);
        -webkit-transition: left .1s cubic-bezier(0.4,0.0,1,1),width .1s cubic-bezier(0.4,0.0,1,1);
        transition: left .1s cubic-bezier(0.4,0.0,1,1),width .1s cubic-bezier(0.4,0.0,1,1)
      }
    }

    &[aria-pressed=true] {
      &::after {
        width: 18px;
        left: 9px;
        -moz-transition: left .25s cubic-bezier(0.0,0.0,0.2,1),width .25s cubic-bezier(0.0,0.0,0.2,1);
        -webkit-transition: left .25s cubic-bezier(0.0,0.0,0.2,1),width .25s cubic-bezier(0.0,0.0,0.2,1);
        transition: left .25s cubic-bezier(0.0,0.0,0.2,1),width .25s cubic-bezier(0.0,0.0,0.2,1);
      }
    }

    &--disabled {
      opacity: 0.3;
      cursor: none;
      pointer-events: none;
      touch-action: none;
    }

    &--hide {
      display: none;
    }

    &--fullscreen-button {
      &:after {
        content: "";
        display: block;
        height: 100%;
        width: 12px;
        position: absolute;
        top: 0;
        left: 100%;
      }
      .corner-0, .corner-1, .corner-2, .corner-3 {
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
      }
      &:hover {
        .corner-0 {
          -moz-animation: vplayer-fullscreen-button-corner-0-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-animation: vplayer-fullscreen-button-corner-0-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          animation: vplayer-fullscreen-button-corner-0-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .corner-1 {
          -moz-animation: vplayer-fullscreen-button-corner-1-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-animation: vplayer-fullscreen-button-corner-1-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          animation: vplayer-fullscreen-button-corner-1-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .corner-2 {
          -moz-animation: vplayer-fullscreen-button-corner-2-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-animation: vplayer-fullscreen-button-corner-2-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          animation: vplayer-fullscreen-button-corner-2-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .corner-3 {
          -moz-animation: vplayer-fullscreen-button-corner-3-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          -webkit-animation: vplayer-fullscreen-button-corner-3-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          animation: vplayer-fullscreen-button-corner-3-animation 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }

    &--play {
      width: 46px;
    }

    &--settings {
      position: relative;

      svg {
        -moz-transition: -moz-transform .1s cubic-bezier(0.4,0.0,1,1);
        -webkit-transition: -webkit-transform .1s cubic-bezier(0.4,0.0,1,1);
        -ms-transition: -ms-transform .1s cubic-bezier(0.4,0.0,1,1);
        transition: transform .1s cubic-bezier(0.4,0.0,1,1);
      }

      &[aria-expanded=true] {
        -moz-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        -webkit-transform: rotateZ(30deg);
        transform: rotateZ(30deg);
      }

      &.hd-quality-badge {
        &::after {
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTMgOSIgd2lkdGg9IjEwMCUiPjxwYXRoIGQ9Ik01LDcgTDYsNyBMNiw4IEw1LDggTDUsNyBaIE0xMCwzIEwxMCw0IEw4LDQgTDgsMyBMMTAsMyBaIE0zLDYgTDMsNSBMNSw1IEw1LDYgTDMsNiBaIE0yLDcgTDMsNyBMMyw4IEwyLDggTDIsNyBaIE03LDcgTDEwLDcgTDEwLDggTDcsOCBMNyw3IFogTTEwLDYgTDExLDYgTDExLDcgTDEwLDcgTDEwLDYgWiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIwLjY0NzEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48cGF0aCBkPSJNNSw3IEw1LDYgTDUsNSBMMyw1IEwzLDYgTDMsNyBMMiw3IEwyLDIgTDMsMiBMMyw0IEw1LDQgTDUsMiBMNiwyIEw2LDcgTDUsNyBaIE0xMSw2IEwxMCw2IEwxMCw3IEw3LDcgTDcsMiBMMTAsMiBMMTAsMyBMMTEsMyBMMTEsNiBaIE0xMCw0IEwxMCwzIEw4LDMgTDgsNCBMOCw2IEwxMCw2IEwxMCw0IFoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48L3N2Zz4=);
          content: '';
          position: absolute;
          top: 10px;
          right: 5px;
          height: 9px;
          width: 13px;
          background-color: $plugin-blue;
          border-radius: 1px;
          line-height: normal
        }
      }
    }
  }

  &-svg {
    &-shadow {
      stroke: #000;
      stroke-opacity: 0.15;
      stroke-width: 2px;
      fill: none;
    }

    &-fill {
      fill: #fff;
    }
  }

  &-volume {
    &-panel {
      display: inline-block;
      width: 0;
      height: 100%;
      -moz-transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1), width 0.2s cubic-bezier(0.4, 0, 1, 1);
      -webkit-transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1), width 0.2s cubic-bezier(0.4, 0, 1, 1);
      transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1), width 0.2s cubic-bezier(0.4, 0, 1, 1);
      cursor: pointer;
      outline: 0;
    }

    &-slider {
      height: 100%;
      position: relative;
      overflow: hidden;

      &-active .vplayer-volume-panel {
        width: 52px;
        margin-right: 3px;
        -moz-transition: margin 0.2s cubic-bezier(0, 0, 0.2, 1), width 0.2s cubic-bezier(0, 0, 0.2, 1);
        -webkit-transition: margin 0.2s cubic-bezier(0, 0, 0.2, 1), width 0.2s cubic-bezier(0, 0, 0.2, 1);
        transition: margin 0.2s cubic-bezier(0, 0, 0.2, 1), width 0.2s cubic-bezier(0, 0, 0.2, 1);
      }

      &-handle {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin-top: -6px;
        background: #fff;
        &:before, &:after {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          height: 3px;
          margin-top: -2px;
          width: 64px;
        }
        &:before {
          left: -58px;
          background: #fff;
        }
        &:after {
          left: 6px;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &-time {
    &-display {
      font-size: 109%;
      position: relative;
      height: 26px;
      width: 100%;
      white-space: nowrap;
    }

    &-separator {
      display: none;
    }

    &-current,
    &-duration {
      position: absolute;
    }

    &-current {
      left: 0;
    }

    &-duration {
      right: 0;
    }
  }

  &-tooltip {
    &-wrapper {
      position: absolute;
      z-index: $z-index-tooltip-wrapper;
      font-size: 118%;
      font-weight: 500;
      line-height: 15px;
      opacity: 0;
      -moz-transition: -moz-transform $animation-duration-fast $animation-transition-cubic-bezier,opacity $animation-duration-fast $animation-transition-cubic-bezier;
      -webkit-transition: -webkit-transform $animation-duration-fast $animation-transition-cubic-bezier,opacity $animation-duration-fast $animation-transition-cubic-bezier;
      -ms-transition: -ms-transform $animation-duration-fast $animation-transition-cubic-bezier,opacity $animation-duration-fast $animation-transition-cubic-bezier;
      transition: transform $animation-duration-fast $animation-transition-cubic-bezier,opacity $animation-duration-fast $animation-transition-cubic-bezier;
      pointer-events: none;

      &:not([aria-hidden=true]) {
        opacity: 1;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        -moz-transition: -moz-transform $animation-duration-fast $animation-transition-layers,opacity $animation-duration-fast $animation-transition-layers;
        -webkit-transition: -webkit-transform $animation-duration-fast $animation-transition-layers,opacity $animation-duration-fast $animation-transition-layers;
        -ms-transition: -ms-transform $animation-duration-fast $animation-transition-layers,opacity $animation-duration-fast $animation-transition-layers;
        transition: transform $animation-duration-fast $animation-transition-layers,opacity $animation-duration-fast $animation-transition-layers;
      }
    }

    &-bg {
      &-image {
        background-color: $black;
        background-repeat: no-repeat;
        position: relative;
        display: none;
      }

      &-duration {
        display: none
      }
    }

    &-info {
      &-wrapper {
        border-radius: 3px;
      }

      &-image {
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 10px;
        position: absolute;
        display: none;
        top: 2px;
        left: 7px;
        background-size: contain;
      }

      &-title {
        display: none;
      }

      &-text {
        display: block;
        background-color: rgba(28,28,28,0.9);
        border-radius: 2px;
        padding: 5px 9px;
      }
    }

    &-wrapper--preview {
      padding: 2px;
      background-color: rgba(28,28,28,0.9);
      border-radius: 2px;

      .vplayer-tooltip {
        &-bg-image {
          display: block;
        }

        &-info {
          &-text {
            display: inline;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    &-text {
      &.vplayer-tooltip-wrapper--preview {
        width: 310px;

        .vplayer-tooltip {
          &-bg {
            &-image {
              float: left;
            }

            &-duration {
              position: absolute;
              right: 3px;
              bottom: 3px;
              background-color: rgba(28,28,28,0.9);
              padding: 2px 4px;
            }
          }

          &-info {
            &-wrapper {
              padding: 0 9px;
              margin: 4px 0;
              overflow: hidden;
              max-height: 46px;
            }

            &-text {
              background-color: transparent;
              padding: 0;
            }
          }
        }

        &.vplayer-tooltip-has-duration {
          .vplayer-tooltip-bg-duration {
            display: block;
          }
        }
      }

      .vplayer-tooltip {
        &-info {
          &-title {
            display: block;
            color: #aaa;
            text-transform: uppercase;
          }
        }
      }
    }

  }

  &-card {
    margin-bottom: 16px;
    width: 145px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: block;
    color: #767676;
    text-decoration: none;

    &-click,
    &-click:hover,
    &-click:focus {
      display: block;
      color: #767676;
      text-decoration: none;
    }

    &:hover {
      .vplayer-card {
        &-primary-link {
          color: #167ac6;
        }
      }
    }

    h2,
    &-card-action {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:after {
        content: '\00200c';
        position: static;
        visibility: hidden;
      }
    }

    h2 {
      margin: 0 0 8px;
      -webkit-line-clamp: 6;
      max-height: 90px;
      color: #333;
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
    }

    p,
    &-meta-info,
    &-action {
      margin: -6px 0 2px;
    }

    &-meta-info {
      list-style: none;
      padding: 0
    }

    &-image {
      position: relative;
      border-bottom: 1px solid #e2e2e2;
      width: 145px;
      height: 145px;
      background: #f1f1f1 no-repeat center;
      background-size: cover;
      color: #fff;
    }

    &-content {
      padding: 8px 10px;
    }

  }

  &-drawer {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
    width: 177px;
    background-color: rgba(0,0,0,.2);
    color: $white;
    font-size: 11px;
    line-height: 12px;
    -moz-transition: -moz-transform $animation-duration-base $animation-transition-layers;
    -webkit-transition: -webkit-transform $animation-duration-base $animation-transition-layers;
    -ms-transition: -ms-transform $animation-duration-base $animation-transition-layers;
    transition: transform $animation-duration-base $animation-transition-layers;
    -moz-transform: translateX(177px);
    -ms-transform: translateX(177px);
    -webkit-transform: translateX(177px);
    transform: translateX(177px);

    * {
      text-align: left;
    }

    &-header,
    &-content {
      position: absolute;
    }

    &--open {
      .vplayer-drawer {
        -moz-transition: -moz-transform $animation-duration-base $animation-transition-cubic-bezier;
        -webkit-transition: -webkit-transform $animation-duration-base $animation-transition-cubic-bezier;
        -ms-transition: -ms-transform $animation-duration-base $animation-transition-cubic-bezier;
        transition: transform $animation-duration-base $animation-transition-cubic-bezier;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
      }
    }

    &-header {
      top: 0;
      padding: 16px 32px 0 16px;
      width: 177px;
      height: 41px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &-text {
        font-weight: 500;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }
    }

    &-content {
      top: 41px;
      bottom: 0;
      border-top: 1px solid transparent;
      padding: 0 16px;
      width: 145px;
      overflow-x: hidden;
      overflow-y: auto;
      direction: ltr;
      text-align: left;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 16px;
      }

      &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        border-radius: 8px;
        background-clip: content-box;
        background-color: rgba(102,102,102,.5);
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &:hover {
        .vplayer-drawer-content::-webkit-scrollbar-thumb {
          background-color: #666!important
        }
      }
    }

    &--hide {
      .vplayer-drawer {
        &-content::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
    }

    &-btn--close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px;
      opacity: .75;
      cursor: pointer;

      &::after {
        display: block;
        content: '';
      }

      &:hover {
        opacity: 1;
      }
    }

    &--small {
      width: 133px;

      .vplayer-drawer {
        &-header {
          padding: 9px 24px 0 12px;
          height: 28px;
          width: 133px;
        }

        &-content {
          padding: 0 12px;
          top: 28px;
          width: 109px;
        }

        &-btn--close {
          padding: 8px;
        }
      }

      .vplayer-card {
        width: 109px;

        h2 {
          font-size: 11px;
          line-height: 12px;
          max-height: 72px;
        }

        &-image {
          width: 109px;
          height: 109px;
        }

        &-content {
          padding: 6px 8px;
        }
      }
    }

    &--big {
      font-size: 20px;
      line-height: 24px;
      width: 295px;

      .vplayer-drawer {
        &-header {
          padding: 20px 48px 0 32px;
          height: 64px;
          width: 295px;
        }

        &-content {
          padding: 0 32px;
          top: 64px;
          width: 231px;
        }

        &-btn--close {
          padding: 24px;
        }
      }

      .vplayer-card {
        width: 231px;

        h2 {
          font-size: 20px;
          line-height: 24px;
          max-height: 144px;
        }

        &-image {
          width: 231px;
          height: 231px;
        }

        &-content {
          padding: 12px 16px;
        }
      }
    }

    &--scrolled {
      .vplayer-drawer {
        &-content {
          border-color: rgba(0,0,0,.4);
        }
      }
    }
  }

  &-popup {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    background: rgba(28,28,28,0.9);
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    -moz-transition: opacity $animation-duration-fast $animation-transition-cubic-bezier;
    -webkit-transition: opacity $animation-duration-fast $animation-transition-cubic-bezier;
    transition: opacity $animation-duration-fast $animation-transition-cubic-bezier;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    &[aria-hidden=true] {
      opacity: 0;
      -moz-transition: opacity $animation-duration-fast $animation-transition-layers;
      -webkit-transition: opacity $animation-duration-fast $animation-transition-layers;
      transition: opacity $animation-duration-fast $animation-transition-layers;
    }
  }

  &-settings-menu {
    right: 12px;
    bottom: 50px;
    z-index: $z-index-settings-menu;
    will-change: width,height
  }

  &-wrapper {
    &.vplayer-progress-bar-hover .vplayer-hover-progress {
      opacity: 1;
    }

    &.show-info-controls {
      .vplayer {
        &-gradient-top,
        &-gradient-bottom {
          opacity: 1;
          -moz-transition: opacity $animation-duration-fast $animation-transition-layers;
          -webkit-transition: opacity $animation-duration-fast $animation-transition-layers;
          transition: opacity $animation-duration-fast $animation-transition-layers;
        }

        &-top-layer,
        &-bottom-layer {
          opacity: 1;
          -moz-transition: opacity $animation-duration-fast $animation-transition-layers;
          -webkit-transition: opacity $animation-duration-fast $animation-transition-layers;
          transition: opacity $animation-duration-fast $animation-transition-layers;
        }

        &-top-layer {
          .vplayer-title {
            display: flex;
          }
        }
      }
    }

    .caption {
      &-window {
        position: absolute;
        z-index: $z-index-caption-window;
        -moz-transition: margin-bottom $animation-duration-base $animation-transition-cubic-bezier,margin-top $animation-duration-base $animation-transition-cubic-bezier;
        -webkit-transition: margin-bottom $animation-duration-base $animation-transition-cubic-bezier,margin-top $animation-duration-base $animation-transition-cubic-bezier;
        transition: margin-bottom $animation-duration-base $animation-transition-cubic-bezier, margin-top $animation-duration-base $animation-transition-cubic-bezier;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        &--top {
          margin-top: 48px;
          top: 5%;
        }

        &--bottom {
          margin-bottom: 49px;
          bottom: 10%;
        }
      }

      &-text {
        word-wrap: normal;
        pointer-events: none;
      }

      &-block {
        background: $text-shade-dark;
        border-radius: 2px;
        font-size: 20px;
        color: $white;
        pointer-events: none;
      }
    }

    &.fs-mode {
      font-size: 17px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto !important;
      height: auto !important;

      .caption {
        &-window {
          &--top {
            margin-top: 70px;
          }

          &--bottom {
            margin-bottom: 70px;
          }
        }

        &-block {
          font-size: 22px;
        }
      }

      .vplayer {
        &-container {
          height: 100%;
          width: 100%;
          padding-bottom: 0;
        }

        &-gradient-top {
          height: 69px;
          padding-bottom: 77px;
        }

        &-gradient-bottom {
          height: 90px;
          padding-top: 76px;
        }

        &-title-text {
          padding-left: 6px;
          padding-top: 18px;
          font-size: 27px;
        }

        &-progress {
          &-bar-container {
            bottom: 0px;
            height: 8px;
          }

          &-padding {
            height: 24px;
          }

          &-list {
            -moz-transform: translateY(-0.5px) scaleY(0.625);
            -ms-transform: translateY(-0.5px) scaleY(0.625);
            -webkit-transform: translateY(-0.5px) scaleY(0.625);
            transform: translateY(-0.5px) scaleY(0.625);
          }
        }

        &-scrubber {
          &-container {
            top: -6px;
            left: -10px;
          }

          &-button {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            bottom: 20px;
            left: 10px;
          }

          &-pull-indicator {
            &::before, &::after {
              width: 10px;
              height: 10px;
            }
          }
        }

        &-stream {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: auto;
        }

        &-bottom-layer {
          height: 90px;
          padding-top: 4px;
        }

        &-controls {
          height: 54px;
          line-height: 54px;
        }

        &-btn {
          width: 54px;

          &--play {
            width: 69px;
          }

          &[aria-pressed] {
            &::after {
              height: 3px;
              border-radius: 3px;
              left: 27px;
              bottom: 10px;
            }
          }

          &[aria-pressed=true]::after {
            width: 27px;
            left: 14px;
          }
        }

        &-volume {
          &-slider-active .vplayer-volume-panel {
            width: 78px;
            margin-right: 5px;
          }

          &-slider-handle {
            width: 18px;
            height: 18px;
            border-radius: 9px;
            margin-top: -9px;
            &:before, &:after {
              height: 4px;
              margin-top: -2px;
              width: 96px;
            }
            &:before {
              left: -87px;
            }
            &:after {
              left: 9px;
              background: rgba(255, 255, 255, 0.2);
            }
          }
        }

        &-time {
          &-display {
            height: 40px;
          }
        }

        &-tooltip {
          &-wrapper {
            line-height: 22px;
          }

          &.vplayer-preview {
            &.vplayer-text-detail {
              width: 457px;

              .vplayer-tooltip-text-wrapper {
                margin: 6px 0;
                max-height: 69px;
              }
            }
          }

        }

        &-settings-menu {
          right: 24px;
          bottom: 70px;
        }

      }
    }
  }
}


@keyframes vplayer-fullscreen-button-corner-0-animation {
  50% {
    -moz-transform: translate(-1px, -1px);
    -ms-transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
}

@keyframes vplayer-fullscreen-button-corner-1-animation {
  50% {
    -moz-transform: translate(1px, -1px);
    -ms-transform: translate(1px, -1px);
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
}

@keyframes vplayer-fullscreen-button-corner-2-animation {
  50% {
    -moz-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
}

@keyframes vplayer-fullscreen-button-corner-3-animation {
  50% {
    -moz-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
}
